<!-- BEGIN_INCLUDE(oidc-token-validator:local-token-validation) -->
	<oidc-token-validator:local-token-validation claimExtraction=""/>
<!-- END_INCLUDE(oidc-token-validator:local-token-validation) -->

<!-- BEGIN_INCLUDE(oidc-token-validator:online-token-validation) -->
	<oidc-token-validator:online-token-validation introspectionEndpoint="" clientId="" clientSecret="" claimExtraction=""/>
<!-- END_INCLUDE(oidc-token-validator:online-token-validation) -->

<!-- BEGIN_INCLUDE(oidc-token-validator:act-as-relying-party) -->
	<oidc-token-validator:act-as-relying-party redirectUri="" clientId="" clientSecret="" instantRefresh=""/>
<!-- END_INCLUDE(oidc-token-validator:act-as-relying-party) -->
